<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit Consortium</title>
    <link rel="stylesheet" href="css/deposit.css">
</head>
<body>
    <div id="title">CBB</div>
    <div id="form_background">
        <h1>Depositar</h1>
        <div id="form_front">
            <form id="depositForm" action="/deposit_process" method="post">
                <div class="form_group" id="account_field">
                    <label for="account">Conta:</label>
                    <input type="text" id="account" name="account" placeholder="Digite a conta" required>
                </div>
                
                <div class="form_group" id="value_field">
                    <label for="value">Valor:</label>
                    <input type="text" id="value" name="value" placeholder="Digite o valor que deseja depositar" required>
                </div>
                <button type="submit" id="btn_deposit">Depositar</button>
            </form>
            <form action="/aplication_back">
                <button type="submit" id="btn_back_aplication">Voltar</button>
            </form>
        </div>
    </div>

    <script src="scripts/deposit.js"></script>
</body>
</html>
